<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Login</title>
</head>
<body>
        <div class="min-vh-100 d-flex align-items-center justify-content-center bg-light py-3 px-4">
            <div class="max-w-md w-100 space-y-8 " style="padding-left: 70vh; padding-right: 70vh;">
                <div>
                    <h1 class="text-center mb-4 display-5 fw-bold text-dark">
                        Cooperative Group
                    </h1>
                    <h2 class="py-3 text-center display-6 fw-bold text-dark border rounded">
                        Bienvenido a tu Oficina Virtual
                    </h2>
                </div>
                <form class="mt-3" action="#" method="POST">
                     {% csrf_token %} 
                    <input type="hidden" name="remember" value="true" />
                    <div class="mb-3">
                        <label for="username" class="visually-hidden">
                            Nombre de usuario
                        </label>
                        <input
                            id="username"
                            name="username"
                            type="text"
                            autocomplete="username"
                            required
                            class="form-control rounded-lg border-gray-300 text-gray-900"
                            placeholder="Tu nombre de usuario aquí"
                        />
                    </div>
                    <div>
                        <label for="password" class="visually-hidden">
                            Contraseña
                        </label>
                        <input
                            id="password"
                            name="password"
                            type="password"
                            autocomplete="current-password"
                            required
                            class="form-control rounded-lg border-gray-300 text-gray-900"
                            placeholder="Contraseña"
                        />
                    </div>
        
                    <div class="d-flex justify-content-center">
                        <button
                            type="submit"
                            class="btn btn-primary rounded-lg px-4 py-2 mt-4"
                        >
                            Iniciar Sesión
                        </button>
                    </div>
                </form>
            </div>
        </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>